<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221523594802-vqm0rv5i7g1p5dinbv9g0aevus4nl9ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221523594802-vqm0rv5i7g1p5dinbv9g0aevus4nl9ll</string>
	<key>API_KEY</key>
	<string>AIzaSyB_cZphOtkEqZvMYfvmu2_CG3zA8V_uCHw</string>
	<key>GCM_SENDER_ID</key>
	<string>221523594802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BishoyAsaad.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>odc-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>odc-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221523594802:ios:97dd828e0a6d27072ab62b</string>
</dict>
</plist>